In [3]:
import pandas as pd

In [5]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [6]:
dataset

  Sexo  Idade
0    H     53
1    M     72
2    M     54
3    M     27
4    M     30
5    H     40
6    H     58
7    H     32
8    M     44
9    M     51

In [12]:
dataset.mean()

C:\Users\ciana\AppData\Local\Temp/ipykernel_15380/1799472221.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.mean()

Idade    46.1
dtype: float64

## MÃ©dia por categoria

In [13]:
dataset.groupby(['Sexo']).mean().loc['H']

Sexo
H    45.750000
M    46.333333
Name: Idade, dtype: float64