In [2]:
import pandas as pd

In [5]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [6]:
dataset

  Sexo  Idade
0    H     53
1    M     72
2    M     54
3    M     27
4    M     30
5    H     40
6    H     58
7    H     32
8    M     44
9    M     51

In [12]:
dataset.mean()

C:\Users\ciana\AppData\Local\Temp/ipykernel_15380/1799472221.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.mean()

Idade    46.1
dtype: float64

## Média por categoria

In [14]:
dataset.groupby(['Sexo']).mean().loc['H']

Idade    45.75
Name: H, dtype: float64

## Comparando variáveis com mesma média e mediana

In [3]:
df = pd.DataFrame(data = {'Fulano': [8, 10, 4, 8, 6, 10, 8],
                          'Sicrano': [7.5, 8, 7, 8, 8, 8.5, 7]}, 
                  index = ['Matemática', 
                           'Português', 
                           'Inglês', 
                           'Geografia', 
                           'História', 
                           'Física', 
                           'Química'])
df.rename_axis('Matérias', axis = 'columns', inplace = True)
df

Matérias    Fulano  Sicrano
Matemática       8      7.5
Português       10      8.0
Inglês           4      7.0
Geografia        8      8.0
História         6      8.0
Física          10      8.5
Química          8      7.0

O DataFrame acima só considera as notas de Fulano e Sicrano que apresentaram medidas de tendência central idênticas.

Indique a opção que mostra o aluno que possui a maior dispersão em suas notas e o valor do desvio médio absoluto deste aluno, respectivamente.

In [11]:
desvio_medio_absoluto_fulano = df['Fulano'].mad()
desvio_medio_absoluto_fulano

1.5510204081632648

In [12]:
desvio_medio_absoluto_sicrano = df['Sicrano'].mad()
desvio_medio_absoluto_sicrano

0.4693877551020408

In [13]:
print(f'O aluno com maior dispersão é Fulano. Seu desvio médio absoluto foi de {desvio_medio_absoluto_fulano}')

O aluno com maior dispersão é Fulano. Seu desvio médio absoluto foi de 1.5510204081632648

## Calculando o desvio padrão #1

In [14]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [16]:
desvio_padrao = dataset.Idade.std()
desvio_padrao

14.184890239656813

In [ ]:
## Calculando o desvio padrão #2

In [17]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [19]:
desvio_padrao_mulheres = dataset.groupby(['Sexo']).std().loc['M']
desvio_padrao_mulheres

Idade    16.64532
Name: M, dtype: float64